{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="banner-section">
            <h1>Banner<br>De alguma<br>Promoção</h1>
        </div>
        <div class="login-section">
            <div id="div-back">
                <a href="{% url 'index' %}" id="back">← Voltar</a>
            </div>
            <div class="logo">
                <img src="{% static 'images/logo.svg' %}" alt="Logo" id="logo-img">
            </div>
            <h2>Sign In</h2>
            <form method="post" action="{% url 'user:login' %}">
                {% csrf_token %}
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Seu usuário" required>
                <label for="password">Password</label>
                <div class="password-container">
                    <input type="password" id="password" name="password" placeholder="Sua senha" required>
                    <span class="eye-icon">👁️</span>
                </div>
                <div class="options">
                    <label>
                        <input type="checkbox" name="remember_me">
                        Remember me
                    </label>
                    <a href="#">Forget Password?</a>
                </div>
                <div class="buttons">
                    <button type="submit" class="sign-in-btn">Sign In</button>
                    <button>
                        <a href="{% url 'user:register' %}" class="sign-up-btn">Sign Up</a>
                    </button>
                </div>
            </form>
            <div class="divider">
                <hr>
                <span>Quick access with</span>
                <hr>
            </div>
            <div class="google-login">
                <img src="https://www.google.com/favicon.ico" alt="Google Login">
            </div>
        </div>
    </div>
</body>
</html>
