{% extends 'base.html' %}
{% load static %}
{% block main %}
    
<link rel="stylesheet" href="{% static 'css/address.css' %}" />
<script src="{% static 'js/address.js' %}"></script>
<div class="container">
    
    <form method="post" class="form-address">
        {% csrf_token %}
        
        <div class="form-group">
            <div class="input-box">
                <label>Nome Completo</label>
                {{ form.nome_completo }}
            </div>
            <div class="input-box">
                <label>Telefone</label>
                {{ form.telefone }}
            </div>
        </div>

        <div class="input-single">
            <label>CEP</label>
            {{ form.cep }}
        </div>

        <div class="form-group">
            <div class="input-box">
                <label>Estado</label>
                {{ form.estado }}
            </div>
            <div class="input-box">
                <label>Cidade</label>
                {{ form.cidade }}
            </div>
        </div>

        <div class="form-group">
            <div class="input-box">
                <label>Bairro</label>
                {{ form.bairro }}
            </div>
            <div class="input-box">
                <label>Rua/Avenida</label>
                {{ form.rua }}
            </div>
        </div>

        <div class="form-group">
            <div class="input-box">
                <label>Número</label>
                {{ form.numero }}
            </div>
            <div class="input-box">
                <label>Complemento</label>
                {{ form.complemento }}
            </div>
        </div>

        <div class="checkbox-area">
            {{ form.principal }}
            <label for="{{ form.principal.id_for_label }}">Usar como endereço principal</label>
        </div>

        <button type="submit" class="btn-add">Salvar Endereço</button>

        <div class="footer-form">
            {% if eh_user_app %}
            <a href="{% url 'user:address_management' %}" class="btn-voltar">Voltar</a>
            {% else %}
            
            <a href="{% url 'checkout:select_address' %}" class="btn-voltar">Voltar</a>
            {% endif %}
            <div class="secure-connection">
                <img src="https://cdn-icons-png.flaticon.com/512/3064/3064197.png" alt="lock" width="16">
                <span>Secure Connection</span>
            </div>
        </div>
    </form>
</div>
{% endblock main %}