{% extends 'base.html' %}
{% load static %}

{% block banner %}
    {% include 'banner.html' %}
{% endblock %}

{% block main %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">

<div class="product-grid">
    <div class="product-card">
      <img src="{% static 'images/image.png' %}" alt="Apple Watch Series 5 SE" class="product-image">
      <h3 class="product-title">Apple Watch</h3>
      <p class="product-model">Series 5 SE</p>
      <div class="product-price-container">
            <p class="product-price">$529.99</p>
            <img src="{% static 'images/cart.svg' %}" id='cart-icon'>
      </div>
    </div>

    <div class="product-card">
        <img src="{% static 'images/image.png' %}" alt="Apple Watch Series 5 SE" class="product-image">
        <h3 class="product-title">Apple Watch</h3>
        <p class="product-model">Series 5 SE</p>
        <div class="product-price-container">
              <p class="product-price">$529.99</p>
              <img src="{% static 'images/cart.svg' %}" id='cart-icon'>
        </div>
      </div>

      <div class="product-card">
        <img src="{% static 'images/image.png' %}" alt="Apple Watch Series 5 SE" class="product-image">
        <h3 class="product-title">Apple Watch</h3>
        <p class="product-model">Series 5 SE</p>
        <div class="product-price-container">
              <p class="product-price">$529.99</p>
              <img src="{% static 'images/cart.svg' %}" id='cart-icon'>
        </div>
      </div>

      <div class="product-card">
        <img src="{% static 'images/image.png' %}" alt="Apple Watch Series 5 SE" class="product-image">
        <h3 class="product-title">Apple Watch</h3>
        <p class="product-model">Series 5 SE</p>
        <div class="product-price-container">
              <p class="product-price">$529.99</p>
              <img src="{% static 'images/cart.svg' %}" id='cart-icon'>
        </div>
      </div>

      <div class="product-card">
        <img src="{% static 'images/image.png' %}" alt="Apple Watch Series 5 SE" class="product-image">
        <h3 class="product-title">Apple Watch</h3>
        <p class="product-model">Series 5 SE</p>
        <div class="product-price-container">
              <p class="product-price">$529.99</p>
              <img src="{% static 'images/cart.svg' %}" id='cart-icon'>
        </div>
      </div>

      <div class="product-card">
        <img src="{% static 'images/image.png' %}" alt="Apple Watch Series 5 SE" class="product-image">
        <h3 class="product-title">Apple Watch</h3>
        <p class="product-model">Series 5 SE</p>
        <div class="product-price-container">
              <p class="product-price">$529.99</p>
              <img src="{% static 'images/cart.svg' %}" id='cart-icon'>
        </div>
      </div>

      <div class="product-card">
        <img src="{% static 'images/image.png' %}" alt="Apple Watch Series 5 SE" class="product-image">
        <h3 class="product-title">Apple Watch</h3>
        <p class="product-model">Series 5 SE</p>
        <div class="product-price-container">
              <p class="product-price">$529.99</p>
              <img src="{% static 'images/cart.svg' %}" id='cart-icon'>
        </div>
      </div>

      <div class="product-card">
        <img src="{% static 'images/image.png' %}" alt="Apple Watch Series 5 SE" class="product-image">
        <h3 class="product-title">Apple Watch</h3>
        <p class="product-model">Series 5 SE</p>
        <div class="product-price-container">
              <p class="product-price">$529.99</p>
              <img src="{% static 'images/cart.svg' %}" id='cart-icon'>
        </div>
      </div>
    
    <!-- Repetir para outros produtos... -->
  </div>

{% endblock main %}
    