{% extends 'base.html' %}
{% load static %}

{% block main %}
<link rel="stylesheet" href="{% static 'css/item_view.css' %}">    

<div class="container">

    <button class="back-button">← Back</button>
    <div class="product-page">

        <div class="product-left">
            <div class="product-images">
                {% if produto.imagem %}
                    <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" class="product-image">
                {% else %}
                    <img src="{% static 'images/default.png' %}" alt="Sem imagem" class="product-image">
                {% endif %}
                <!-- Aqui você pode duplicar essa imagem para simular várias imagens, ou depois criar galeria -->
            </div>
        
            <div class="product-main-image">
                {% if produto.imagem %}
                    <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" class="main-image">
                {% else %}
                    <img src="{% static 'images/default.png' %}" alt="Sem imagem" class="main-image">
                {% endif %}
            </div>
        </div>
        
        <div class="product-details">
            <h1>{{ produto.nome }}</h1>
            <h3>{{ produto.categoria.nome }}</h3>
        
            <div class="rating">
                <span>⭐⭐⭐⭐⭐</span> <span class="rating-value">4.5 / 5</span> <!-- Rating ainda é estático por enquanto -->
            </div>
        
            <h2 class="price">R$ {{ produto.preco }}</h2>
        
            <p class="product-description">
                {{ produto.descricao }}
            </p>
        
            <div class="buttons">
                <form action="{% url 'add-to-cart' produto.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="add-to-bag">
                        <img src="{% static 'images/cart.svg' %}" alt="Carrinho" id="img-cart"> Add to Bag
                    </button>
                </form>
            </div>
        </div>
        
        
        
        <div class="related-products">
            <h4>Related to the items you viewed</h4>
            
            
            <div class="related-item">
                <img src="{% static 'images/image.png' %}" alt="Apple Watch Series 5 SE" class="product-image">
                <div class="item-info">
                    <p>Item Name</p>
                    <small>Small Description</small>
                    <div class="item-price">
                        <span>$9.99</span>
                        <button class="add-to-bag-small"><img src="{% static 'images/cart.svg' %}" alt="Carrinho" id="img-cart-small"></button>
                    </div>
                </div>
            </div> 
            
            <div class="related-item">
                <img src="{% static 'images/image.png' %}" alt="Apple Watch Series 5 SE" class="product-image">
                <div class="item-info">
                    <p>Item Name</p>
                    <small>Small Description</small>
                    <div class="item-price">
                        <span>$9.99</span>
                        <button class="add-to-bag-small"><img src="{% static 'images/cart.svg' %}" alt="Carrinho" id="img-cart-small"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="product-description-section">
        <h2>Description</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dig...
        </p>
    </div>

</div>

{% endblock main %}