{% extends 'base.html' %} {% load static %} {% block main %}
  <link rel="stylesheet" href="{% static 'css/review_cart.css' %}" />
  <link rel="stylesheet" href="{% static 'css/carrinho.css' %}" />

  <div class="container">
    <div class="left-content">
      <section class="shipping-address">
          <h2>Shipping Address</h2>
          <div class="center-content">
            <div class="address-details">
                <p>John Maker</p>
                <p>123 Plae Grond Street</p>
                <p>Vermont, California</p>
                <p>United States of America</p>
            </div>
            <button class="change-address">Change</button>
        </div>
      </section>

      <div class="cart-page">
        <div class="cart-items">
          <div class="cart-item">
            <input type="checkbox" name="itens_selecionados" />
            <label for="item"></label>

            <div class="item-image">
              <img src="{% static 'images/image(1).png' %}" alt="Laptop Image" />
            </div>

            <div class="item-details">
              <h2>Dell XPS 13</h2>
              <p class="color">White</p>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam</p>

              <div class="rating">
                ⭐⭐⭐⭐⭐ <span class="rating-value">4.5 / 5</span>
              </div>

              <div class="price-quantity">
                <span class="price">$1799.99 × 1</span>

                <div class="quantity-controls">
                  <button class="decrease">−</button>
                  <span class="quantity">1</span>
                  <button class="increase">+</button>
                </div>
              </div>
            </div>

            <button class="item-remove" type="submit" name="acao" value="remover"><img src="{% static 'images/delete.svg' %}" alt="deletar" /></button>
          </div>
        </div>
        <hr id="divider" />
        <div class="cart-items">
          <div class="cart-item">
            <input type="checkbox" name="itens_selecionados" />
            <label for="item"></label>

            <div class="item-image">
              <img src="{% static 'images/image(1).png' %}" alt="Laptop Image" />
            </div>

            <div class="item-details">
              <h2>Dell XPS 13</h2>
              <p class="color">White</p>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam</p>

              <div class="rating">
                ⭐⭐⭐⭐⭐ <span class="rating-value">4.5 / 5</span>
              </div>

              <div class="price-quantity">
                <span class="price">$1799.99 × 1</span>

                <div class="quantity-controls">
                  <button class="decrease">−</button>
                  <span class="quantity">1</span>
                  <button class="increase">+</button>
                </div>
              </div>
            </div>

            <button class="item-remove" type="submit" name="acao" value="remover"><img src="{% static 'images/delete.svg' %}" alt="deletar" /></button>
          </div>
        </div>
      </div>
    </div>
    
    <aside class="order-summary">
    <h3>Order Summary</h3>
    
    <div class="summary-item">
        <span>Items:</span>
        <span>$5849.37</span>
    </div>
    
    <div class="summary-item">
      <span>Shipping:</span>
      <span>$6.99</span>
    </div>
    
    <div class="summary-item">
        <span>Frete:</span>
        <span>$25.00</span>
    </div>
    
    <div class="summary-item">
      <span>Gift Card:</span>
      <span>$0.00</span>
    </div>

    <div class="summary-total">
        <span>Order Total:</span>
        <span class="total-price">$6609.78</span>
    </div>

    <button class="place-order">Place your order</button>
  </aside>
</div>
  {% endblock %}
