.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: rgb(249, 134, 134);
    padding: 4rem 3rem;
    margin: 1rem;
    border-radius: 24px;
    margin-top: 16px;
    font-size: 3rem;
}
.arrow {
    width: 30px;
    cursor: pointer;
}
.image-slider {
    display: flex;
    overflow: hidden;
    width: 80%;
    justify-content: center;
}
.slider-image {
    max-width: 100%;
    height: auto;
}