/* Estilos Gerais */
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoria-titulo {
  color: black;
  text-align: center;
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 4rem;
}

.product-card {
  border-radius: 10px;
  padding: 16px;
  display: flex;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  flex-direction: column;
  align-items: center;
  position: relative;
  scroll-snap-align: start;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 230px;
  height: 234px;
  object-fit: contain;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 15px;
}

.product-title {
  font-size: 1.5rem;
  color: #333;
}

.product-model {
  font-size: 0.9rem;
  color: #666;
  margin: 5px 0;
}

.product-price {
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  margin: 10px 0;
  text-align: center;
}

.product-price-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

#cart-icon {
  width: 55px;
  background: #1A1F16;
  padding: 12px;
  border-radius: 16px;
}

.categoria-bloco {
  margin-bottom: 40px;
}

.categoria-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.ver-mais {
  padding: 1rem 4rem;
  border: 1px solid;
  color: black;
  border-radius: 62px;
  font-size: 1.5rem;
}

.ver-mais:hover {
  text-decoration: underline;
}

.carrossel-produtos {
  display: flex;
  overflow-x: auto;
  padding: 10px 20px;
  gap: 20px;
  scroll-snap-type: x mandatory;
}

.carrossel-produtos::-webkit-scrollbar {
  height: 8px;
}

.carrossel-produtos::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.product-rating {
  color: #FFC107;
  font-size: 0.9rem;
  margin: 5px 0;
  letter-spacing: 2px;
}

.product-price .current-price {
  color: #000;
  font-weight: bold;
}

.product-price .old-price {
  color: #999;
  text-decoration: line-through;
  font-size: 0.9rem;
  margin-left: 8px;
}

.product-card::after {
  content: "NOVO";
  position: absolute;
  top: 15px;
  right: 16px;
  background-color: #FF5252;
  color: white;
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 1.1rem;
  font-weight: bold;
}

#produto-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
}

.carrossel-produtos.quantidade-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.cart-button {
  background: none;
  border: none;
  cursor: pointer;
}

#view-all,
#view-all:hover {
  text-decoration: none;
  color: black;
}

@media (max-width: 900px) {
  .carrossel-produtos.quantidade-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .carrossel-produtos.quantidade-4 {
    grid-template-columns: 1fr;
  }
}
