.cart-page {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background: white;
  border-radius: 20px;
  gap: 0px !important;
  align-items: center !important;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 20px;
  color: #000;
  max-width: 100%;
  margin-bottom: 0px !important;
}

#divider {
  width: 95%;
  height: 1px;
  background-color: #ddd;
  margin: 0px !important;
}

.shipping-address {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 1rem;
  color: black;
}

.center-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.change-address {
  font-size: 1rem;
  padding: 1rem;
  background: white;
  border: solid 1px;
  border-radius: 16px;
}


.endereco-entrega {
  margin: 30px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.endereco-info p {
  margin: 5px 0;
}

.btn-alterar, .btn-adicionar {
  display: inline-block;
    margin-top: 15px;
    padding: 1rem;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid;
    border-radius: 16px;
}

.btn-alterar:hover, .btn-adicionar:hover {
  background-color: #aff5b2;
}

.aviso-endereco {
  color: #f44336;
  font-weight: bold;
}

.endereco-entrega{
  
  background: white;
  padding: 2rem;
  border-radius: 16px;
  margin-bottom: 1rem;
  color: black;

}

.sem-endereco{
  
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.center-infos{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}
